{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Adima" />
        <meta name="description" content="MyStory" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Halo Dunia{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/stlye.min.css' %}" type="text/css" />
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/MyStory.js' %}"></script>
        <script src="{% static 'js/books.js' %}"></script>
    </head>
    <body class="background-color">
        <div>
            {% block content %}
            {% endblock %}
        </div>
  </body>
</html>
