{% extends 'MyStory/base.html' %}
{% load static %}

{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <body id="page-top">

        {% include 'MyStory/navbar.html' %}

        <section class="bg-primary text-white mb-0" id="books">
            <div class ="container">
                <h2 class="text-center text-uppercase text-white">Book List</h2>
                <hr class="start-light mb-5">
                <div class="row">
                    <table class="table table-hover" id="book-list">
                        <thead>
                            <th>Cover</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Bookmark</th>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
        <section class="portfolio" id="favorite-books">
            <div class="container">
              <h2 class="text-center text-uppercase text-secondary mb-0">Bookmarked</h2>
              <hr class="star-dark mb-5">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
                  </a>
                </div>
              </div>
            </div>
        </section>
        <section>
            <div class="container">
            <h3>Favorite Books: {{ favorite_books|length }}</h3>
            </div>
        </section>
        <section>
            <div class="container">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for books.." title="Type in a name">
            </div>
        </section>
    </body>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    var like = "{% static 'img/Star.png' %}";
    var dislike = "{% static 'img/StarOutline.png' %}";
        $(document).ready(function () {

            $.ajax({ 
                url: "https://www.googleapis.com/books/v1/volumes?q=quilting",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    var items = data.items;
                        $('#book-list').DataTable({
                            'data': items,
                            'columns': [
                                {
                                    data: 'volumeInfo.imageLinks.thumbnail',
                                    render: function(data) {
                                        return '<img src="' + data + '"/>';
                                    },
                                },
                                {data: 'volumeInfo.title'},
                                {data: 'volumeInfo.authors.[, ]'},
                                {data: 'volumeInfo.publisher'},
                                {data: 'id', render: function(data) {
                                    return "<img class='favorite' width='45px' height='45px'" + " src=" + dislike + " book-id=" + data + ">";
                                }},
                            ]
                        });
                    }
});​​​​​​​​​​​​​​​ 
        });
    </script>
    <script type="text/javascript" src="{% static 'js/books.js' %}"></script>
    <script>
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        </script>
{% endblock %}