{% extends 'MyStory/base.html' %}
{% load static %}

{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <body id="page-top">

        {% include 'MyStory/navbar.html' %}

    </body>

{% endblock %}