{% extends 'MyStory/base.html' %}
{% load static %}

{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <body id="page-top">

        {% include 'MyStory/navbar.html' %}

        <section id="contact">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Not a Member Yet? Subscribe Now!</h2>
                <hr class="star-dark mb-5">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                      <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Name</label>
                          <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                          <label>Email Address</label>
                          <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <br>
                      <div id="success"></div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                      </div>
                    </form>
                  </div>
            </div>

        </section>
    </body>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var emailIsValidated = false;
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        var validateEmailURL = "{% url 'registration:validate-email' %}";
        var submitFormURL = "{% url 'registration:add-subscriber' %}";

        $(document).ready(function () {
           $('#table').DataTable({
               responsive: true,
               ajax: {
                   dataType: 'json',
                   contentType: 'application/json; charset=utf-8',
                   url: "{% url 'registration:get-subscribers' %}",
                   dataSrc: 'subscribers',
               },
               columns: [
                   {data: 'name'},
                   {data: 'email'}
               ],
           });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
{% endblock scripts %}